#logo{
	background-color: #b92c54;
	padding:12px;
}
#navBar{
	background-color: #672436;
	padding:8px;
}
#Products{
	background-color:#f280b5;
	padding: 12px;
}
#blog{
	background-color:#b0cce2;
	padding:12px;
}
#about{
	background-color:#a7d300;
	padding: 12px;
}
#break{
	background-color:#672436;
	padding:3px;
}